.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0;
  font-size: 14px;
  color: #666;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 12px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
  max-width: 100%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  transform-origin: center;
  animation: spin 2s linear infinite;
  width: 50%;
  box-sizing: content-box;
  margin: auto;
}

.plate-text {
  unicode-bidi: isolate;
}

.model {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0 8px 0;
}

.model div {
  margin: 0;
}

.model img {
  width: 20px;
}
